$green: rgb(46, 168, 97);
$light-green: rgb(100, 216, 148);
$dark:  #29323b;
$background:  #29323be1;
$white: #FFF;
$segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

html, body {
  min-height: 100vh;
  font-family: $segoe;
  padding: 0;
  margin: 0;
  color: $white;
  background: $background;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, .fs-trebuchet {
  font-family: $trebuchet;
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  margin: 1rem 0 4rem 0;
  span {
    position: relative;
    padding-bottom: 0.5rem;
    &:before{
      content: "";
      position: absolute;
      width: 50%;
      height: 0.1rem;
      bottom: 0;
      left: 25%;
      border-bottom: 0.3rem solid $green;
    }
  }
}

p {
  margin: 0 0 3rem 0;
  padding: 0;
}

p, blockquote {
  text-align: justify;
  text-justify: inter-word;
}

h2 {
  margin: 0 0 2rem 0;
  span {
    position: relative;
    padding-bottom: 0.5rem;
    &:before{
      content: "";
      position: absolute;
      width: 50%;
      height: 0.1rem;
      bottom: 0;
      left: 0;
      border-bottom: 0.2rem solid $green;
    }
  }
}

.text-center {
  text-align: center;
}

a, a:focus, a:visited {
  color: $light-green;
}
a:hover {
  color: $green;
}

header {
  border-bottom: .2rem solid $white;
  a {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    font-family: $segoe;
  }
}
footer {
  border-top: .2rem solid $white;
}

header, footer {
  background: $green;
  height: 5rem;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  a, a:focus, a:visited {
    color: $white;
  }
  p {margin: 0;}
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: calc(100vh - 14rem);
  padding: 2.4rem 1.6rem;
}

figure {
  margin: 0;
  blockquote {
    margin: 1rem;
  }
  figcaption {
    text-align: right;
  }
}

nav {
  display: flex;
  flex-direction: column;  
  a, a:focus, a:visited {
    background: $green;
    color: $dark;
    height: 6rem;
    width: 100%;
    margin: 1rem 0 0 0;
    font-size: 2.4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 0px $light-green;
    transition: .5s;
  }
  a:hover {
    color: $dark;
    background: $light-green;
  }
}

#app {}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

button {
  background: transparent;
  border: .2rem solid $green;
  padding: .8rem 1.6rem;
  border-radius: 2rem;
  font-weight: 700;
  transition: .5s;
  color: $white;
  &:hover, &:focus, a:active {
    background: $green;
  }
  &.next {
    margin: 0 auto;
  }
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.code {
  background: black;
  color: $white;
  .property {
    color: #d5eb13;
  }
  .value {
    color: $light-green;
  }
}

.code-php {
  background: black;
  color: $white;
  .var {
    color: #d5eb13;
  }
  .str {
    color: $light-green;
  }
  .function {
    color: lightskyblue;
  }
}


#square1 {
  content: "";
  height: 20rem;
  width: 15rem;
  background: $green;
  position: absolute;
  top: 20rem;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}

#round1 {
  content: "";
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  background: $green;
  position: absolute;
  top: 50rem;
  right: 0rem;
  z-index: -1;
  opacity: 0.6;
}


.proposals {
  display: block;
  text-align: center;
  button {
    margin: 1rem auto;
    width: 260px;
  }
}

.flex {
  display: flex;
}

@media (min-width: 540px) {
  main {
    padding: 2.4rem 4.8rem;
  }
}


@media (min-width: 768px) {
  main {
    padding: 2.4rem 8rem;
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    a {
      width: calc(50% - 1rem);
    }
  }

  p, blockquote {
    font-size: 1.8rem;
  }
  .proposals {
    display: flex;
    flex-direction: column;
    button {
      font-size: 1.6rem;
    }
  }

  a {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 2.4rem 16rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) {
  main {
    padding: 2.4rem 24rem;
  }

  
  .proposals {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: 1800px) {
  main {
    padding: 2.4rem 24rem;
  }
}
